<h1>パスワードの再設定</h1>

<p>パスワードの再設定をするには、こちらのリンクをクリックして下さい。</p>

<%= link_to "パスワードの再設定", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>このリンクは、２時間有効です。</p>

<p>
  パスワードの再設定を行わない場合は、このメールを無視して下さい。
  パスワードはそのまま残ります。
</p>
