<% if object.errors.any? %>
  <div id="error_explanation">
    <div>
      <%= object.errors.count %>つの訂正箇所があります。 
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
