<% if @user.errors.any? %>
  <div id="error_explanation">
    <div>
      <%= @user.errors.count %>つの訂正箇所があります。 
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
