<header>
  <div>
    <%= link_to "ねずみのお家", '#' %>
    <nav>
      <ul>
        <li><%= link_to "ホーム",   '#' %></li>
        <li><%= link_to "説明",   '#' %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
