<header>
  <div>
    <%= link_to "ねずみのお家", root_path %>
    <nav>
      <ul>
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "説明", help_path %></li>
        <li><%= link_to "ログイン", login_path %></li>
      </ul>
    </nav>
  </div>
</header>
